<%# 開発中 %>
<div class="center jumbotron">
  <h1>Let's share your plants</h1>

  <h2>
    This is the home page for the
    <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path , class: "btn btn01" %>
</div>
